<a (click)="showNotification()"><i class="fa fa-bell" aria-hidden="true"></i></a>
<ng-container *ngIf="isNotificationShowed">
  <mat-list class="notification-list">
  <mat-list-item *ngIf="!notifications" >Didn't find any notification ...</mat-list-item>
  <ng-container *ngFor="let item of notifications">
    <ul class="notifications-list">
      <li *ngFor="let notification of notifications">
        <a href="" class="notifications-item">
          <div class="notifications-item-img">
            <img *ngIf="notification.user_creator_id" src="{{notification.user_creator_id.avatar}}" alt="" width="40px">
          </div>
          <div class="notifications-item-info">
            <p class="notifications-item-text">
              <span class="user" *ngIf="notification.user_creator_id">{{notification.user_creator_id.full_name}}</span>
              {{notification.message}}
            </p>
            <span class="notifications-item-date">{{notification.created_at | date :  "MMM dd,y"}}</span>
          </div>
        </a>
      </li>
    </ul>
    <app-notification-item [value]="item"></app-notification-item>
  </ng-container>
</mat-list>
</ng-container>

