.notification-list {
  position: fixed;
  right: 8px;
  top: 50px;
  heigh:500px;
  background-color: #fff;
  width: 300px;
  z-index: 1000;
}

.notification-list .mat-list-item {
  cursor: pointer;
}
.notifications-item-info {
  font-size : 17px;
  color: blueviolet;
}
li {
  color: blueviolet;
  margin-left: 30px;
}
a {
  color: blueviolet;
}

