.notification-list {
  position: fixed;
  right:0px;
  top: 50px;
  height:750px;
  background-color: #fff;
  width: 300px;
  z-index: 2000;
}

.notification-list .mat-list-item {
  cursor: pointer;
}
.notifications-item-info {
  font-size : 16px;
  color: blueviolet;
}
li {
  color: blueviolet;
  margin-left:10px;
  list-style-type: none;
}
a {
  color: blueviolet;
}

