<form
[formGroup]="signUpForm"
(ngSubmit)="onSubmit()"
>
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="First name"
      formControlName="firstName"
    >
    <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      matInput
      placeholder="Password"
      formControlName="password"
    >
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      matInput
      type="password"
      placeholder="Repeat Password"
      formControlName="repeatPassword"
      [errorStateMatcher]="matcher"
    >
    <mat-error *ngIf="signUpForm.get('repeatPassword').hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="signUpForm.get('repeatPassword').hasError('notEqual') && !signUpForm.get('repeatPassword').hasError('required')">
      Passwords not equal
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="submit-btn">Signup</button>
</form>
